<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
  <link rel = "icon" href = "img/logo/dragonballsuper10.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
    body {
      background-image: url("img/background/dragonballsuper25.jpg ");
      background-position: center top;
      background-size: 100% auto;
    } 
    h2 {
      text-shadow: 2px 2px 5px black;
      color: yellow;
    }
    h5 {
      text-shadow: 2px 2px 5px black;
      color: yellow;
    }
  </style>
</head>
<body>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script type="text/javascript" src="js/materialize.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  
 <ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main page" href="/">Home</a>
  </ul>
</li>
</div>

<h2 align =" center">Dragon Ball Super</h2>
<h5  align ="center" face="verdana"><b> Dragon Ball Super (Japanese: ドラゴンボール超スーパー Hepburn: Doragon Bōru Sūpā?) is an ongoing Japanese anime television series produced by Toei Animation that began airing on July 5, 2015. It is a sequel show to the Dragon Ball manga and the Dragon Ball Z television series featuring the first new storyline in 18 years. It is set after the defeat of Majin Boo when Earth has become peaceful once again.<b></h5>

<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="img/season/dragonballsuper15.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="img/carousel/dragonballsuper2.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="img/carousel/dragonballsuper3.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="img/carousel/dragonballsuper8.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="img/carousel/dragonballsuper5.jpg"></a>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel();
  });

</script>

<audio loop="true" autoplay="true">
  <source src="audio/Dragon Ball Super Theme Song.ogg" type="audio/ogg">
  <source src="sound/Dragon Ball Super Theme Song.mp3" type="audio/mpeg">
  </audio>
 
</body>
</html>


