<!DOCTYPE html>
<html>
<head>
  <title>Dragon Ball Z</title>
  <link rel = "icon" href = "img/dragonballsuper10.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
<style>
    body {
      background-image: url("img/dragonballsuper45.jpg ");
      background-position: center top;
      background-size: 100% auto;
    } 

  </style>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main page" href="/">Home</a>
    </li>
  </ul>
  <center><div id='z'></div></center>

    
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>
</html>