<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<link rel = "icon" href = "img/logo/dragonballsuper10.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.min.css">
	<style>
		body {
			background-image: url("img/background/dragonballsuper25.jpg ");
			background-position: center top;
			background-size: 100% auto;
		} 

	</style>
</head>
<body>
  
	<br>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">

				<a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main page" href="/">Home</a>
				<a class="btn waves-effect waves-teal" data-position="bottom" data-delay="50" data-tooltip="I am tooltip" href="Hero">Hero</a>
				<a class="btn waves-effect waves-teal" data-position="bottom" data-delay="50" data-tooltip="I am tooltip" href="God">God</a>
				<a class="btn waves-effect waves-teal" data-position="bottom" data-delay="50" data-tooltip="I am tooltip" href="Enemy">Villains</a>
			</ul>
		</li>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
<section>
	<div class ="gallery-box">
		<div class =" wrapper">
			<div class = "img-single">
				<img src="img/enemy/dragonballsuper3.jpg">
			</div>
			<div class = "img-single">
				<img src="img/gallery/dragonballsuper17.jpg">
			</div>
			<div class = "img-single">
				<img src="img/carousel/dragonballsuper18.jpg">
			</div>
			<div class = "img-single">
				<img src="img/gallery/dragonballsuper19.jpg">
			</div>
			<div class = "img-single">
				<img src="img/gallery/dragonballsuper20.jpg">
			</div>
			<div class = "img-single">
				<img src="img/enemy/dragonballsuper8.jpg">
			</div>
			<div class = "img-single">
				<img src="img/carousel/dragonballsuper8.jpg">
			</div>
			<div class = "img-single">
				<img src="img/gallery/dragonballsuper6.jpg">
			</div>
			<div class = "img-single">
				<img src="img/gallery/dragonballsuper4.jpg">
			</div>
			<div class = "img-single">
				<img src="img/carousel/dragonballsuper2.jpg">
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  
    <audio loop="true" autoplay="true">
	<source src="audio/Dragon Ball Super New Opening Theme DBS ep 77.ogg" type="audio/ogg">
	<source src="sound/Dragon Ball Super New Opening Theme DBS ep 77.mp3" type="audio/mpeg">
	</audio>
	  
</body>
</html>