<!DOCTYPE html>
<html>
<head>
	<title>Hero</title>
	<link rel = "icon" href = "img/logo/dragonballsuper10.ico">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
 <style>
    body {
      background-image: url("img/background/dragonballsuper47.jpg ");
      background-position: center top;
      background-size: 100% auto;
    } 
    h1 {
			text-shadow: 2px 2px 5px red;
			color: yellow;
		}


  </style>
  <ul class="navbar-nav mr-auto">
	<li class="nav-item">
		<a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Gallery page" href="Gallery">Gallery</a>
	</ul>
</li>
<h1 align="center"><b>HERO</b></h1>
<section>
	<div class ="gallery-box">
		<div class =" wrapper">
			<div class = "img-single">
				<img src="img/hero/dragonballsuper48.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper49.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper50.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper51.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper52.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper53.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper54.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper55.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper56.jpg">
			</div>
			<div class = "img-single">
				<img src="img/hero/dragonballsuper57.jpg">
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript">
</script>
</body>
</html>