<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
    <link rel = "icon" href = "dragonballsuper10.jpg ">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <style>
body {
        background-image: url("dragonballsuper.jpg ");
        color: blue ;
} 

</style>
</head>
<body>
	<br>

  <a class="tn btn-outline-success my-2 my-sm-0 waves-effect waves-light btn" href="app.html">Home</a>



  
<h2 align =" center">Dragon Ball Super</h2>
   <p><h5 align ="center" face="verdana"> Dragon Ball Super (Japanese: ドラゴンボール超スーパー Hepburn: Doragon Bōru Sūpā?) is an ongoing Japanese anime television series produced by Toei Animation that began airing on July 5, 2015. It is a sequel show to the Dragon Ball manga and the Dragon Ball Z television series featuring the first new storyline in 18 years. It is set after the defeat of Majin Boo when Earth has become peaceful once again.</h5><p>


<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    </body>
  </html>


  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="dragonballsuper1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="dragonballsuper2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="dragonballsuper3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="dragonballsuper8.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="dragonballsuper5.jpg"></a>
  </div>
      
      <script type="text/javascript">
          $(document).ready(function(){
      $('.carousel').carousel();
    });

      </script>
</body>
</html>