<!DOCTYPE html>
<html>
<head>
  <title>Dragon Ball Super</title>
  <link rel = "icon" href = "dragonballsuper10.jpg ">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

   <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

</head>
<body>
    
   
   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <button> <a class="btn btn-outline-success my-2 my-sm-0" href="app.html">Webdev</a></button> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button> <a class="btn btn-outline-success my-2 my-sm-0" href="app.html">Home</a></button>
        </li>

        <li class="nav-item active">
         
          <button> <a class="btn btn-outline-success my-2 my-sm-0" href="about .html">About</a> </button> 
         
        </li>
        
        <li class="nav-item">
         <button><a class="btn btn-outline-success my-2 my-sm-0" href="#">Gallery</a></button> 
         
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br><br><br><br><br><br><br><br><br><br>
  <!--<embed src="Dragon Ball Super Theme Song.mp3" autostart="true" loop="true" hidden="true">-->
</body>
</html>